body {
  background-color: black;
  color: green;
}

#welcome-container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

a {
  color: blue;
}

#by-line {
  color: red;
  font-size: 0.8em;
  text-align: right;
}
